* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 245, 201);
}

header {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    padding: 15px;
}

main {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    padding: 15px;
    cursor: pointer;
}

p {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    color: blue;
    font-weight: 700;
}

input {
    display: none;
}

#accord_1:checked~.img1 {
    height: auto;
    padding: 15px;
}

#accord_2:checked~.img2 {
    height: auto;
    padding: 15px;
}

#accord_3:checked~.img3 {
    height: auto;
    padding: 15px;
}

#accord_4:checked~.img4 {
    height: auto;
    padding: 15px;
}

#accord_5:checked~.img5 {
    height: auto;
    padding: 15px;
}

.head-label {
    transition: all 1s;
}

.accordion {
    border-top: 1px solid rgb(133, 130, 130);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.acor-image {
    display: flex;
    justify-content: center;
    transition: all 1s;
    height: 0;
}

.image {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.icon-open {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}

#accord_1,
#accord_2,
#accord_3,
#accord_4,
#accord_5 {
    display: none;
}

@media(hover: hover) {
    main:hover .head-label .accordion .icon-open {
        display: block;
    }

    main:hover .head-label .accordion p {
        color: black;
    }

    .head-label:hover~.acor-image {
        height: 450px;
        padding: 15px;
        transition: all 1s;
    }

    .img1:hover,
    .img2:hover,
    .img3:hover,
    .img4:hover,
    .img5:hover {
        height: 450px;
        padding: 15px;
    }

    .head-label:hover .accordion .icon-open {
        transform: rotate(45deg);
    }

    .cont-accor:hover .icon-open {
        transform: rotate(45deg);
    }
}


@media (max-width: 1920px) {
    p {
        font-size: 24px;
    }

    h1 {
        font-size: 30px;
    }
}

@media (max-width: 820px) {
    p {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    p {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

}