body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

/* Работа с faq */

.faq {
    max-width: 100%;
    margin: auto;
}

faq-item {
    border-top: 0.001%, darkgrey;
}

.faq-title {
    display: block;
    cursor: pointer;
}

.faq-title:hover {

}

.faq-imput {
    /* width: 0;
    height: 0; */

    -webkit-appearance: none;

    appearance: none;

}

.faq-img {
    display: block;
    margin: auto;


    /* display: none; */
    position: static;


}